/* debug */
.debug{
    border:2px solid red;
    height: 50%;
    width: 50%;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility colors */
:root {
	--color-black-primary: #000000;
	--color-red-text: #e22131;
	--color-white-text: #ffffff;
	--color-green-icon: #4bc800;
}

/* body */
body{
    font-family: "Open Sans", sans-serif;
}